.main{
    display: grid;
    grid-template-columns: repeat(5,6rem);
}
.sub{
    display:flex;
    justify-content: space-between;
    list-style: none;
}




.icon{
    height: 2rem;
    padding-left: 2rem;
}

.selected{
    font-weight: bold;
}